{% extends 'saatTempApp/base.html' %}
{% block title %} Technology For Research {% endblock %}
{% load staticfiles%}
{% block body %}





<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Links (sit on top) -->

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:20px;margin-bottom:80px">



  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom" >
      <div class="w3-card-4" style="width:90%;height: 80%">
        <img src="{% static 'saatTempApp/images/sir_waqar.jpg' %}" alt="John" style="width:100%">
        <div class="w3-container">
          <h4>Dr. Waqar ul Qunaian</h4>
          <p class="w3-opacity">Head of AIM LAB</p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" style="width:90%;height: 80%">
        <img src="{% static 'saatTempApp/images/sir_mubasher.jpg' %}" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h4>Mian Muhammad Mubasher</h4>
          <p class="w3-opacity">Lecturer at Pucit</p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" style="width:90%;height: 80%">
        <img src="{% static 'saatTempApp/images/girl_1.png' %}" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h4>Mam Zara Nasar</h4>
          <p class="w3-opacity">Research Associate at AIMRL</p>
        </div>
      </div>
    </div>
  </div>

{#   <div class="w3-third w3-margin-bottom">#}
{#      <div class="w3-card-4" style="width:90%;height: 80%">#}
{#        <img src="{% static 'tagging_tool/images/girl_1.png' %}" alt="Mike" style="width:100%">#}
{#        <div class="w3-container">#}
{#          <h4>Zara Nasar</h4>#}
{#          <p class="w3-opacity">Visiting Lecturer at Pucit</p>#}
{#          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
</div>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
{% endblock %}

