/* Space out content a bit */
body {
  padding-bottom: 20px;
   background-image: url("imgback.png");
  
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-inverse{
  border-radius: 0px;
}
/* Custom page header */

/* Make the masthead heading the same height as the navigation */
/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FFF;
  
  
}
.jumbotron .btn {
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 24px;
  padding-left: 20px;
  margin-left: 475px;
  margin-top: -73px;
  font-size: 15px;
  height: 40px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

#input { 
  top: 55%; 
  right: 0; 
  margin-top: 10px;
  width: 80%;
  left: 340px; 
  height: 40px; 
   }

.loadButton{
  width: 85px;

}

/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  /*max-width: 700px;*/
  /*max-height: 655px;*/
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  
  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
  
}
 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
  padding-bottom: 107%;
}

/* general styles */
/* ============== */
.set-border {
  border: 5px inset #4f4f4f;
}
.set-box-shadow { 
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
  -moz-box-shadow: 4px 4px 14px #4f4f4f;
  box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
  padding: 30px;
}
.set-margin {
  margin: 10px;
    margin-left: 20px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fa {
  padding-top:1px;
  padding-left:20px;
  text-align: center;
  text-decoration: none;
  margin: 7px 5px;
  
}

.fa:hover {
    opacity: 0.7;
}
.fa-Dom {
  background: #3B5998;
  color: white;
}
.fa-Sdom {
  background: #55ACEE;
  color: white;
}

#overlays{
	position: relative;
}

#particles-js{
	position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
 
	
}

.btn-select {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;

}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;

}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}


/* Success Start */
.btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
    border-color: #333;
}

.btn-select.btn-success ul li.selected {
    background-color: #333;
    color: white;
}

.btn-select.btn-success ul {
    border: #333 1px solid;
}

.btn-select.btn-success .btn-select-value {
    background-color: #333;
    border: #333 1px solid;
}

.btn-select.btn-success:hover, .btn-select.btn-success.active {
    background-color: #333;
}
/* Success End */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;

  }
  .jumbotron .btn{
    margin-left: 105%;

  }
  /* Space out the masthead */
 
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.sidebar-nav{
	/*overflow-y:scroll;*/
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}

.hr{
  border: 0;
  border-top: 1px solid #eee;
}
